{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<h1>¿Olvidaste tu contraseña?</h1>
<p>
    Ingresa tu email debajo y te enviaremos las instrucciones por correo. <br> <b>// Dev comment -> los mails enviados por la plataforma actualmente se almacenan en una
    carpeta llamada "sent_emails" en el directorio base del proyecto.</b>
</p>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-info" value="Enviarme instrucciones">
    </form>
</div>
{% endblock %}